= stylesheet_link_tag "codemirror/codemirror", "codemirror/default", "codemirror/docs"
= javascript_include_tag "codemirror/codemirror", "codemirror/yaml"

%h1 CF Line Create
%br
%br
%div#errors_div
  - if @line.errors.present?
    %h3 There were some errors when creating your line
    %ul
      - @line.errors.each do |error|
        %li
          = error

= form_tag lines_path do
  %ul#tabs
    %li.active Line.yml
    %li#add_html Add HTML File
  %div#textareas
    = text_area_tag "line_yaml", params[:line_yaml] || SAMPLE_YAML, :class => "yaml_textarea", :id => "line_yaml", :wrap => "off"
  = hidden_field_tag "cf_environment", params[:cf_environment] || "default"
  %br
  %br
  =#TODO link_to "Validate Yaml", validate_line_yaml_path, :method => :post, :remote => true
  = submit_tag "Create Line"

